.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MyContainer div {
  margin: 10px auto;
  width: 80%;
}

.centered {
text-align: center;
color: white;
border: 1px solid;
/* width: 160px; */
background-color: black;
border-radius: 20px;
padding: 16px;
margin-left: 400px;
margin-right: 400px;
margin-top: 100px;
}
.createWalletcentered {
  text-align: center;
  color: white;
  border: 1px solid;
  /* width: 160px; */
  background-color: black;
  border-radius: 20px;
  padding: 16px;
  margin-left: 350px;
  margin-right: 50px;
  margin-top: 10px;
  }
  .createcentered {
    text-align: center;
    color: black;
    border: 1px solid white;
    /* width: 160px; */
    background-color: white;
    border-radius: 20px;
    padding: 16px;
     margin-left: -100px;
    /* margin-right: 50px; */ 
    margin-top: 10px;
    width: 200px;
    }
.divstyle {
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 10px;
}
.divnextBoxstyle {
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 10px;

}
.metamaskcontainer {
  display: flex;
  flex-wrap: wrap;
}
.metamaskcontainer .product {
  /* flex: 1 0 33%; */
  /* height: 50px; */
  /* border: 1px solid black; */
}
.p {
  word-spacing: 30px;
}
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

.row-bordered:after {
  border-bottom: 5px solid red;
}
.Row {
  display: table;
  /* width: 100%; */
}
.Column {
  display: table-cell;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color: green;
}